playsound
threading
wikipedia
wolfram-alpha
os
pytesseract
Pillow
datetime
PyAudio
speechrecognition
wheel
webrowser
subproccess
json
ecapture
requests
win32api
pynput
pyjokes
ctypes
flask